.title{
  position:absolute;
  top:20px;
  left:10%;
  margin: 10px;
  z-index:100;
  width:250px;
}
.logoImg{
  width: 100%;
  height:auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	.logoImg{
    width: 100%;
    height:auto;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.logoImg{
    width: 100%;
    height:auto;
  }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.logoImg{
    width: auto;
    height:100%;
  }
}
.modalHome{
  position: absolute;
  top:5%;
  left:25%;
  margin:auto;
  width:50%;
  z-index: 1000;
  background-color: #2f2f2f;
  border: 1px solid azure;
  border-radius: 5px;
  padding: 20px;
}
.cross{
  float: right;
}
.cross:hover{
  color: black;
}
.imgModal{
  height:90vh;
}